body {
    background: #4F5574;
    color: white;
    font-family: "Gotham Pro", sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.banner {
    background: rgba(0, 0, 0, 0.39);
    border-radius: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    max-width: 95vw;
    margin: .5% auto;
}

.banner-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.banner-img img {
    width: 100%;
    max-width: 450px;
    height: auto;
    margin: 1.5%;
}

.desc {
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin: 1% auto;
    word-wrap: break-word;
    padding: 0 2%;
    box-sizing: border-box;
    font-size: 16px;
}

@media (min-width: 768px) {
    .desc {
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    .desc {
        font-size: 24px;
    }
}